footer {
    background-color: #D2B48C;
    padding: 20px;
    text-align: center;
    overflow: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#bottom-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#bottom-nav li {
    display: inline-flex;
    margin-right: 10px;
    font-size: 14px;
    color: #333;
}
